[submodule "reference/exchange-core"]
	path = reference/exchange-core
	url = https://github.com/exchange-core/exchange-core.git

[submodule "third_party/disruptor-cpp"]
	path = third_party/disruptor-cpp
	url = https://github.com/SkynetNext/disruptor-cpp.git